async-generator==1.10
attrs==22.1.0
blinker==1.5
Brotli==1.0.9
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
ckanapi==4.7
cryptography==38.0.3
deepl==1.11.0
docopt==0.6.2
exceptiongroup==1.0.3
ftfy==6.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.4
IECA-extractor==1.1.0
ieca2sdmx==1.0.0
-e git+https://github.com/frapercan/IECA-extractor@2119d82d538281ff52694d8f535393b5e1deb857#egg=iecaextractor
iecasdmx==0.2.0
kaitaistruct==0.10
-e git+https://github.com/enprava/MDMPyClient.git@402670abe189033b60e9cddc8e5a697b60a31867#egg=MDMPyClient
numpy==1.23.4
outcome==1.2.0
pandas==1.4.4
pipreqs==0.4.11
pyasn1==0.4.8
pycparser==2.21
pydivert==2.1.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.6
PyYAML==6.0
requests==2.28.1
selenium==4.6.0
selenium-wire==5.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
src==1.0.0
text-unidecode==1.3
trio==0.22.0
trio-websocket==0.9.2
urllib3==1.26.12
wcwidth==0.2.5
wsproto==1.2.0
yarg==0.1.9
zstandard==0.19.0
